
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500&family=Sono:wght@600&display=swap');

:root{
    --cor-primaria: #778899;
    --cor-secundaria: #031d33;
    --cor-terciaria: #902a1a;
    --cor-rodape: azure;

    --fonte-negrito: 'Roboto Slab', 'sans-serif';
    --fonte-semnegrito: 'Sono', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-negrito);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-negrito);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-semnegrito) ;

} 

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-negrito);
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap:16px;
    border: 3px solid var(--cor-terciaria);
    font-family: var(--fonte-negrito);
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 19.5px 0px;
    text-decoration: none;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-terciaria);
    padding: 3%;

}

.foto{
    height: 50%;
    width: 50%;
    border-radius: 35%;
}

.rodape{
    text-align: center;
    padding: 0.5%;
    color: var(--cor-rodape);
    background-color: var(--cor-terciaria);
    font-size: 1.0rem;
    font-family: var(--fonte-semnegrito);
}

@media(max-width: 1000px){

    .cabecalho{
        padding: 6%;
    }
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao__conteudo{
        width: auto;
    }
}
